* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

.logo {
  margin: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 8px 12px;
}

.home_button {
  margin-right: auto;
}

nav {
  background-color: black;
  height: 50px;
  padding: 20px;
  display: block;
  width: 100%;
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  justify-content: space-evenly;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
  justify-content: space-evenly;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 34%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 70%;
  background: linear-gradient(130deg, purple, palevioletred);
}

.search_modal {
  dispaly: none;
  position: fixed;
  top: 1;
  left: 29cm;
  width: 20%;
  height: 20%;
  background-color: blue;
}

.search_modal_overlay {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  width: 20%;
  height: 20%;
  position: relative;
}

.search_modal_content {
  background-color: red;
  padding: 20px 100px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.signup {
  text-align: center;
  margin: 10px;
}

.signup div {
  position: relative;
  text-align: center;
  margin: 50px;
}
.signup button {
  width: 400px;
  height: 35px;
  color: white;
  background-color: red;
}

.signup input {
  position: relative;
  width: 400px;
  height: 35px;
  text-align: center;
}

.signup input::-webkit-input-placeholder {
  text-align: center;
}
.signup input:focus::-webkit-input-placeholder {
  text-align: center;
  color: transparent;
}
.signup input::-ms-input-placeholder {
  text-align: center;
}
.signup input:focus::-ms-input-placeholder {
  text-align: center;
  color: transparent;
}
